<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.mymath">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyMath">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".MyMathFormula">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MtkSd">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".MtkSmp" />
        <activity android:name=".MtkSma" />
        <activity android:name=".BangunRuang" />
        <activity android:name=".OperasiHitung" />
        <activity android:name=".KPK" />
        <activity android:name=".PECAHAN" />
        <activity android:name=".Volume2" />
        <activity android:name=".Pecahan2" />
        <activity android:name=".Aljabar2" />
        <activity android:name=".Linear2" />
        <activity android:name=".Aritmetika2" />
        <activity android:name=".Himpunan2" />
        <activity android:name=".Relasi2" />
        <activity android:name=".Lingkaran2" />
        <activity android:name=".Logaritma3" />
        <activity android:name=".Irisan3" />
        <activity android:name=".Statistika3" />
        <activity android:name=".Polinomial3" />
        <activity android:name=".Vektor3" />
        <activity android:name=".Trigonometri3" />
        <activity android:name=".Feedback" />
        <activity android:name=".SendFeedback"></activity>
    </application>

</manifest>